﻿@model shopping_Version2.Web.Models.Order.AddingOrderViewModel

<table align="center">

    <tr>
        <td>Customer:</td>
        <td align="center">
            <select class="dropdown" id="Customer-Picker" name="CustomerId" placeholder="customer name" required>
                <option value="" disabled selected hidden>customer</option>
                @foreach (var customer in Model.CustomerList)
                {

                    <option class="dropdown-item" value="@customer.Id" id="optioncustomer">
                        @customer.Name
                    </option>

                }

            </select>
        </td>
    </tr>
    <tr>
        <td>Date:</td>

        <td class="form-control">@Html.TextBox("DateCreated", DateTime.Today, new { @readonly = "readonly" })</td>
    </tr>


</table>
<h3 align="center">Select Item</h3>
<table align="center">
    <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Sub Total</th>
        <td></td>
    </tr>
    <tr>
        <td>
            <select class="dropdown" id="Product-Picker" name="ProdcutId">
                <option value="" disabled selected hidden>Product</option>
                @foreach (var product in Model.productList)
                {
                    <option class="dropdown-item" value="@product.Id" data-unit-price="@product.price"
                            data-product-description="@product.Description">
                        @product.productName
                    </option>

                }

            </select>
        </td>
        <td><p name="ProductDescription" id="desc"></p></td>
        <td><input type="number" min="0" onchange="calculateTotal()" id="selected-quantity"></td>
        <td><p name="ProductPrice" id="Price"></p></td>
        <td><p name="subtotal" id="subtotal"></p></td>
        <td>
            <input type="button" id="AddtoOrder" class="btn btn-success" style="position:relative;color:white"
                   value="AddtoOrder" />
        </td>

    </tr>


</table>

<table class="table" id="tableporduct" align="center" title="tableporduct">
    <h3 align="center">Order</h3>

    <tbody>
    <th>Product name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>SubTotal</th>
    </tbody>
    <tbody id="lineitem-container"></tbody>

</table>
<div class="text-right">
    <p name="grandtotal">$<span id="grand-total"></span></p>
</div>
<div class="text-center">
    <button type="submit" class="btn btn-success" id="saveorder" onclick="addorder()">Save</button>
</div>


<script src="~/js/Order.js"></script>









